<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header', null, {cache: false, path: path}) %>
  <!--动态线条背景-->
  <script type="text/javascript"
    color="153, 0, 255" opacity='0.7' zIndex="-2" count="200" src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js">
  </script>
  <!--浏览器搞笑标题-->
  <script type="text/javascript" src="/js/FunnyTitle.js"></script>
  <!-- 鼠标特效 社会主义核心价值观 -->
  <script src="https://cdn.jsdelivr.net/gh/zyoushuo/Blog/hexo/js/clicksocialist.js"></script>
  <!-- 樱花效果 -->
  <!-- <script src="https://cdn.jsdelivr.net/gh/zyoushuo/Blog/hexo/js/sakura.js"></script> --> 
  <div class="l_body">
    <%- partial('_partial/cover') %>
    <div class='safearea'>
      <div class='body-wrapper' id="pjax-container">
        <% if (theme.plugins.pjax.enable) { %>
          <%- partial('_third-party/pjax/data') %>
        <% } %>
        <%- body %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
      <a class="s-top fas fa-arrow-up fa-fw" href='javascript:void(0)'></a>
    </div>
  </div>
  <div>
    <%- partial('_partial/scripts/index') %>
    <% if (theme.plugins.pjax.enable) { %>
      <%- partial('_third-party/pjax/index') %>
    <% } %>
  </div>
</body>
</html>
