article#comments
  position: relative
  a
    border-bottom: none
  #valine_container
    >i
      display: block
      margin: $gap auto
    img
      display: inline
    .vwrap
      border-radius: $border-card
      border-style: dashed
      border: 1px dashed alpha($color-text, 30%)
      trans()
      &:hover
        border: 1px dashed $color-theme
      .cancel-reply
        margin-top: 0
        margin-bottom: 0
      .vheader
        .vinput
          border-radius: 0
          border-bottom: 1px dashed alpha($color-text, 30%)
          &:hover
            border-bottom: 1px dashed $color-theme
          &:focus
            border-bottom: 1px solid $color-theme
      .vedit
        .vicon
          height: 22px
      .vemojis,.vpreview
        background: var(--color-block)
        border-radius: var(--border-codeblock)
        padding: $gap * 0.5
        scrollbar()
        .vemoji
          max-height: 22px
          max-width: 100px
        i
          width: auto
          padding: 8px
          border-radius: 4px
          transition: box-shadow .2s ease-out, background .2s ease-out
          if luminosity($color-block) > 0.5
            &:hover
              background: lighten($color-block, 2)
              box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.05), inset -8px -8px 16px rgba(255, 255, 255, 0.4)
            &:active
              background: darken($color-block, 2)
              box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1), -0px -0px 0px rgba(255, 255, 255, 0.8), inset 2px 2px 4px rgba(0, 0, 0, 0.1), inset -2px -2px 4px rgba(255, 255, 255, 1), inset -8px -8px 16px rgba(255, 255, 255, 0.4)
      .vedit
        .vctrl span
          padding: 0
          margin: 10px
        span
          fill: var(--color-p)
          &.actived
            fill: $color-theme
        .veditor
          background: url(https://cdn.jsdelivr.net/gh/zyoushuo/Blog/images/valinebg.webp) 100% 100% no-repeat
    .vcount
      color: var(--color-p)
      font-size: $fontsize-meta
      padding: 0
      font-weight: inherit
      .vnum
        color: var(--color-p)
        font-size: $fontsize-h2

    button
      border: none
      padding: 4px 2rem
      border-radius: $border-button
      background: darken($color-block, 2)
      color: var(--color-text)
      line-height: 2
      font-size: 14px
      trans()
      &:hover
        color: $color-hover
        background: bgcolor($color-hover)
      &.vmore
        width: 100%
        padding: 8px 2rem
    .vcards
      .vcard
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, .12)
        padding: 15px 20px 0 20px
        margin-bottom: 10px
        border-radius: 8px
      .vquote
        border-left: none
      .vh
        border-bottom: 1px dashed alpha($color-text, .1)
        .vcard
          box-shadow: none
      .vimg
        border: 1px solid white
        padding: 0
        background: var(--color-block)
      .vcontent.expand
        &:before
          background: linear-gradient(180deg, alpha($color-card, .9), alpha($color-block, .9));
        &:after
          background: alpha($color-block, .9)
          color: var(--color-text)
      .vhead
        span
          &.vnick
            color: lighten($color-p, 10)
            cursor: default
        a
          &.vnick
            color: #ff9800
            font-weight: bold
            &:hover
              color: $color-hover
        .vsys
          margin: 2px
          padding: 1px 8px
          background-color: var(--color-block)
      .vmeta
        .vat
          font-weight: bold
          color: $color-link
          trans()
          &:hover
            color: $color-hover
      .vcontent
        blockquote
          padding-top: $gap-p
          padding-bottom: $gap-p
          background: var(--color-block)
          border-left: $border-codeblock solid $color-theme
          border-radius: $border-codeblock
          trans()
        code
          color: var(--color-p)
          font-family: $fontfamily-code
        pre
          background: var(--color-codeblock)
          code
            border: none
        a
          color: $color-link
          line-height: inherit
          trans()
          &:hover
            color: $color-hover
            text-decoration: underline
        p
          color: var(--color-p)
          margin-top: $gap-p
          margin-bottom: $gap-p
          line-height: inherit
        .vemoji
          max-height: 24px
          border-radius: 0
          margin-top: -10px
          max-width: 100px
    .vempty
      color: var(--color-meta)
    .vpower
      &,a
        font-size: $fontsize-footnote
      a
        color: var(--color-p)
        &:hover
          text-decoration: underline
          color: $color-hover
    .vinput
      color: var(--color-text)
    p
      color: var(--color-text)
